@import url(sanitize.css);
body{
    margin: 0;
    padding: 0;
    background-color: rgba(10, 10, 10, 0.137);
}

header {
    display: flex;
    width: 100%;
    background-color: aliceblue;
    align-items: center;
    position: fixed;
}
.title {
    color: gray;
    margin: 0px auto 0px 50px;
    font-family: 'Bangers', cursive;
}

.menu-item {
    list-style: none;
    display: inline-block;
    margin: 0px 40px 0px 0px;
    font-size: 20px;
}
.menu-item a {
    color: black;
    text-decoration: none;
}
.menu-item a:hover {
    text-decoration: underline;    
}
.menu-item a:visited{
    color: black;
}
.photo img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.profile h1{
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.profile-name h1{
    font-size: 27px;
    padding: 5px 10px;
    display: inline-block;
    background-color: cadetblue;
    margin: 0px 0px 0px 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #3e6969;
    font-family: 'Bangers', cursive;
}
.profile-name p{
    margin-left: 200px;
    font-size: 18px;
}
.skill{
    box-shadow: 0 0 10px #3e6969;
    margin: 0 50px 50px 150px;
}
.skill h1{
    color: rgb(170, 75, 20);
    font-size: 30px;
    margin: 0 0 0 20px;
    text-decoration: underline;
}
.skill-logo img{
    min-width: 70px;
    max-width: 70px;
    margin-left: 30px;
}
.contact h1{
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.form {
    text-align: center;
}
.button{
    margin-top: 20px;   
}
.photo p{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size: 35px;
    font-family: "UD デジタル 教科書体 N-R","UD Digi Kyokasho N-R";
}